/.env
/interactionLogs.txt
/minecrfat
/node_modules
/pm2-log.json
/minecraft
data/minecraft/.console_history
data/minecraft/banned-ips.json
data/minecraft/banned-players.json
data/minecraft/bukkit.yml
data/minecraft/commands.yml
data/minecraft/eula.txt
data/minecraft/help.yml
data/minecraft/ops.json
data/minecraft/permissions.yml
data/minecraft/server.jar
data/minecraft/server.properties
data/minecraft/spigot.yml
data/minecraft/usercache.json
data/minecraft/version_history.json
data/minecraft/whitelist.json
data/minecraft/cache/mojang_1.21.4.jar
data/minecraft/config/paper-global.yml
data/minecraft/config/paper-world-defaults.yml
data/minecraft/libraries/ca/spottedleaf/concurrentutil/0.0.3/concurrentutil-0.0.3.jar
data/minecraft/libraries/com/fasterxml/jackson/core/jackson-annotations/2.13.4/jackson-annotations-2.13.4.jar
data/minecraft/libraries/com/fasterxml/jackson/core/jackson-core/2.13.4/jackson-core-2.13.4.jar
data/minecraft/libraries/com/fasterxml/jackson/core/jackson-databind/2.13.4.2/jackson-databind-2.13.4.2.jar
data/minecraft/libraries/com/github/oshi/oshi-core/6.6.5/oshi-core-6.6.5.jar
data/minecraft/libraries/com/github/stephenc/jcip/jcip-annotations/1.0-1/jcip-annotations-1.0-1.jar
data/minecraft/libraries/com/google/code/findbugs/jsr305/3.0.2/jsr305-3.0.2.jar
data/minecraft/libraries/com/google/code/gson/gson/2.11.0/gson-2.11.0.jar
data/minecraft/libraries/com/google/errorprone/error_prone_annotations/2.28.0/error_prone_annotations-2.28.0.jar
data/minecraft/libraries/com/google/guava/failureaccess/1.0.2/failureaccess-1.0.2.jar
data/minecraft/libraries/com/google/guava/guava/33.3.1-jre/guava-33.3.1-jre.jar
data/minecraft/libraries/com/google/guava/listenablefuture/9999.0-empty-to-avoid-conflict-with-guava/listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar
data/minecraft/libraries/com/google/j2objc/j2objc-annotations/3.0.0/j2objc-annotations-3.0.0.jar
data/minecraft/libraries/com/google/protobuf/protobuf-java/4.26.1/protobuf-java-4.26.1.jar
data/minecraft/libraries/com/googlecode/json-simple/json-simple/1.1.1/json-simple-1.1.1.jar
data/minecraft/libraries/com/lmax/disruptor/3.4.4/disruptor-3.4.4.jar
data/minecraft/libraries/com/microsoft/azure/msal4j/1.17.2/msal4j-1.17.2.jar
data/minecraft/libraries/com/mojang/authlib/6.0.57/authlib-6.0.57.jar
data/minecraft/libraries/com/mojang/brigadier/1.3.10/brigadier-1.3.10.jar
data/minecraft/libraries/com/mojang/datafixerupper/8.0.16/datafixerupper-8.0.16.jar
data/minecraft/libraries/com/mojang/jtracy/1.0.29/jtracy-1.0.29.jar
data/minecraft/libraries/com/mojang/logging/1.5.10/logging-1.5.10.jar
data/minecraft/libraries/com/mysql/mysql-connector-j/9.1.0/mysql-connector-j-9.1.0.jar
data/minecraft/libraries/com/nimbusds/content-type/2.3/content-type-2.3.jar
data/minecraft/libraries/com/nimbusds/lang-tag/1.7/lang-tag-1.7.jar
data/minecraft/libraries/com/nimbusds/nimbus-jose-jwt/9.40/nimbus-jose-jwt-9.40.jar
data/minecraft/libraries/com/nimbusds/oauth2-oidc-sdk/11.18/oauth2-oidc-sdk-11.18.jar
data/minecraft/libraries/com/velocitypowered/velocity-native/3.4.0-SNAPSHOT/velocity-native-3.4.0-SNAPSHOT.jar
data/minecraft/libraries/commons-codec/commons-codec/1.16.0/commons-codec-1.16.0.jar
data/minecraft/libraries/commons-io/commons-io/2.17.0/commons-io-2.17.0.jar
data/minecraft/libraries/commons-lang/commons-lang/2.6/commons-lang-2.6.jar
data/minecraft/libraries/io/leangen/geantyref/geantyref/1.3.16/geantyref-1.3.16.jar
data/minecraft/libraries/io/netty/netty-buffer/4.1.115.Final/netty-buffer-4.1.115.Final.jar
data/minecraft/libraries/io/netty/netty-codec/4.1.115.Final/netty-codec-4.1.115.Final.jar
data/minecraft/libraries/io/netty/netty-codec-haproxy/4.1.115.Final/netty-codec-haproxy-4.1.115.Final.jar
data/minecraft/libraries/io/netty/netty-common/4.1.115.Final/netty-common-4.1.115.Final.jar
data/minecraft/libraries/io/netty/netty-handler/4.1.115.Final/netty-handler-4.1.115.Final.jar
data/minecraft/libraries/io/netty/netty-resolver/4.1.115.Final/netty-resolver-4.1.115.Final.jar
data/minecraft/libraries/io/netty/netty-transport/4.1.115.Final/netty-transport-4.1.115.Final.jar
data/minecraft/libraries/io/netty/netty-transport-classes-epoll/4.1.115.Final/netty-transport-classes-epoll-4.1.115.Final.jar
data/minecraft/libraries/io/netty/netty-transport-native-epoll/4.1.115.Final/netty-transport-native-epoll-4.1.115.Final-linux-aarch_64.jar
data/minecraft/libraries/io/netty/netty-transport-native-epoll/4.1.115.Final/netty-transport-native-epoll-4.1.115.Final-linux-x86_64.jar
data/minecraft/libraries/io/netty/netty-transport-native-unix-common/4.1.115.Final/netty-transport-native-unix-common-4.1.115.Final.jar
data/minecraft/libraries/io/papermc/asm-utils/0.0.3/asm-utils-0.0.3.jar
data/minecraft/libraries/io/papermc/paper/paper-api/1.21.4-R0.1-SNAPSHOT/paper-api-1.21.4-R0.1-SNAPSHOT.jar
data/minecraft/libraries/io/papermc/reflection-rewriter/0.0.3/reflection-rewriter-0.0.3.jar
data/minecraft/libraries/io/papermc/reflection-rewriter-proxy-generator/0.0.3/reflection-rewriter-proxy-generator-0.0.3.jar
data/minecraft/libraries/io/papermc/reflection-rewriter-runtime/0.0.3/reflection-rewriter-runtime-0.0.3.jar
data/minecraft/libraries/it/unimi/dsi/fastutil/8.5.15/fastutil-8.5.15.jar
data/minecraft/libraries/javax/inject/javax.inject/1/javax.inject-1.jar
data/minecraft/libraries/me/lucko/spark-api/0.1-20240720.200737-2/spark-api-0.1-20240720.200737-2.jar
data/minecraft/libraries/me/lucko/spark-paper/1.10.119-20241121.092015-1/spark-paper-1.10.119-20241121.092015-1.jar
data/minecraft/libraries/net/java/dev/jna/jna/5.15.0/jna-5.15.0.jar
data/minecraft/libraries/net/java/dev/jna/jna-platform/5.15.0/jna-platform-5.15.0.jar
data/minecraft/libraries/net/kyori/adventure-api/4.20.0/adventure-api-4.20.0.jar
data/minecraft/libraries/net/kyori/adventure-key/4.20.0/adventure-key-4.20.0.jar
data/minecraft/libraries/net/kyori/adventure-text-logger-slf4j/4.20.0/adventure-text-logger-slf4j-4.20.0.jar
data/minecraft/libraries/net/kyori/adventure-text-minimessage/4.20.0/adventure-text-minimessage-4.20.0.jar
data/minecraft/libraries/net/kyori/adventure-text-serializer-ansi/4.20.0/adventure-text-serializer-ansi-4.20.0.jar
data/minecraft/libraries/net/kyori/adventure-text-serializer-commons/4.20.0/adventure-text-serializer-commons-4.20.0.jar
data/minecraft/libraries/net/kyori/adventure-text-serializer-gson/4.20.0/adventure-text-serializer-gson-4.20.0.jar
data/minecraft/libraries/net/kyori/adventure-text-serializer-json/4.20.0/adventure-text-serializer-json-4.20.0.jar
data/minecraft/libraries/net/kyori/adventure-text-serializer-legacy/4.20.0/adventure-text-serializer-legacy-4.20.0.jar
data/minecraft/libraries/net/kyori/adventure-text-serializer-plain/4.20.0/adventure-text-serializer-plain-4.20.0.jar
data/minecraft/libraries/net/kyori/ansi/1.1.1/ansi-1.1.1.jar
data/minecraft/libraries/net/kyori/examination-api/1.3.0/examination-api-1.3.0.jar
data/minecraft/libraries/net/kyori/examination-string/1.3.0/examination-string-1.3.0.jar
data/minecraft/libraries/net/kyori/option/1.1.0/option-1.1.0.jar
data/minecraft/libraries/net/md-5/bungeecord-chat/1.20-R0.2-deprecated+build.19/bungeecord-chat-1.20-R0.2-deprecated+build.19.jar
data/minecraft/libraries/net/minecrell/terminalconsoleappender/1.3.0/terminalconsoleappender-1.3.0.jar
data/minecraft/libraries/net/minidev/accessors-smart/2.5.1/accessors-smart-2.5.1.jar
data/minecraft/libraries/net/minidev/json-smart/2.5.1/json-smart-2.5.1.jar
data/minecraft/libraries/net/neoforged/AutoRenamingTool/2.0.3/AutoRenamingTool-2.0.3.jar
data/minecraft/libraries/net/neoforged/installertools/cli-utils/2.1.4/cli-utils-2.1.4.jar
data/minecraft/libraries/net/neoforged/javadoctor/gson-io/2.0.17/gson-io-2.0.17.jar
data/minecraft/libraries/net/neoforged/javadoctor/spec/2.0.17/spec-2.0.17.jar
data/minecraft/libraries/net/neoforged/srgutils/1.0.9/srgutils-1.0.9.jar
data/minecraft/libraries/net/sf/jopt-simple/jopt-simple/6.0-alpha-3/jopt-simple-6.0-alpha-3.jar
data/minecraft/libraries/org/apache/commons/commons-lang3/3.17.0/commons-lang3-3.17.0.jar
data/minecraft/libraries/org/apache/httpcomponents/httpclient/4.5.14/httpclient-4.5.14.jar
data/minecraft/libraries/org/apache/httpcomponents/httpcore/4.4.16/httpcore-4.4.16.jar
data/minecraft/libraries/org/apache/logging/log4j/log4j-api/2.24.1/log4j-api-2.24.1.jar
data/minecraft/libraries/org/apache/logging/log4j/log4j-core/2.24.1/log4j-core-2.24.1.jar
data/minecraft/libraries/org/apache/logging/log4j/log4j-iostreams/2.24.1/log4j-iostreams-2.24.1.jar
data/minecraft/libraries/org/apache/logging/log4j/log4j-slf4j2-impl/2.24.1/log4j-slf4j2-impl-2.24.1.jar
data/minecraft/libraries/org/apache/maven/maven-artifact/3.9.6/maven-artifact-3.9.6.jar
data/minecraft/libraries/org/apache/maven/maven-builder-support/3.9.6/maven-builder-support-3.9.6.jar
data/minecraft/libraries/org/apache/maven/maven-model/3.9.6/maven-model-3.9.6.jar
data/minecraft/libraries/org/apache/maven/maven-model-builder/3.9.6/maven-model-builder-3.9.6.jar
data/minecraft/libraries/org/apache/maven/maven-repository-metadata/3.9.6/maven-repository-metadata-3.9.6.jar
data/minecraft/libraries/org/apache/maven/maven-resolver-provider/3.9.6/maven-resolver-provider-3.9.6.jar
data/minecraft/libraries/org/apache/maven/resolver/maven-resolver-api/1.9.18/maven-resolver-api-1.9.18.jar
data/minecraft/libraries/org/apache/maven/resolver/maven-resolver-connector-basic/1.9.18/maven-resolver-connector-basic-1.9.18.jar
data/minecraft/libraries/org/apache/maven/resolver/maven-resolver-impl/1.9.18/maven-resolver-impl-1.9.18.jar
data/minecraft/libraries/org/apache/maven/resolver/maven-resolver-named-locks/1.9.18/maven-resolver-named-locks-1.9.18.jar
data/minecraft/libraries/org/apache/maven/resolver/maven-resolver-spi/1.9.18/maven-resolver-spi-1.9.18.jar
data/minecraft/libraries/org/apache/maven/resolver/maven-resolver-transport-http/1.9.18/maven-resolver-transport-http-1.9.18.jar
data/minecraft/libraries/org/apache/maven/resolver/maven-resolver-util/1.9.18/maven-resolver-util-1.9.18.jar
data/minecraft/libraries/org/checkerframework/checker-qual/3.43.0/checker-qual-3.43.0.jar
data/minecraft/libraries/org/codehaus/plexus/plexus-interpolation/1.26/plexus-interpolation-1.26.jar
data/minecraft/libraries/org/codehaus/plexus/plexus-utils/3.5.1/plexus-utils-3.5.1.jar
data/minecraft/libraries/org/eclipse/sisu/org.eclipse.sisu.inject/0.9.0.M2/org.eclipse.sisu.inject-0.9.0.M2.jar
data/minecraft/libraries/org/jline/jline-native/3.27.1/jline-native-3.27.1.jar
data/minecraft/libraries/org/jline/jline-reader/3.20.0/jline-reader-3.20.0.jar
data/minecraft/libraries/org/jline/jline-terminal/3.27.1/jline-terminal-3.27.1.jar
data/minecraft/libraries/org/jline/jline-terminal-ffm/3.27.1/jline-terminal-ffm-3.27.1.jar
data/minecraft/libraries/org/jline/jline-terminal-jni/3.27.1/jline-terminal-jni-3.27.1.jar
data/minecraft/libraries/org/joml/joml/1.10.8/joml-1.10.8.jar
data/minecraft/libraries/org/jspecify/jspecify/1.0.0/jspecify-1.0.0.jar
data/minecraft/libraries/org/lz4/lz4-java/1.8.0/lz4-java-1.8.0.jar
data/minecraft/libraries/org/ow2/asm/asm/9.7.1/asm-9.7.1.jar
data/minecraft/libraries/org/ow2/asm/asm-commons/9.7.1/asm-commons-9.7.1.jar
data/minecraft/libraries/org/ow2/asm/asm-tree/9.7.1/asm-tree-9.7.1.jar
data/minecraft/libraries/org/slf4j/jcl-over-slf4j/1.7.36/jcl-over-slf4j-1.7.36.jar
data/minecraft/libraries/org/slf4j/slf4j-api/2.0.16/slf4j-api-2.0.16.jar
data/minecraft/libraries/org/spongepowered/configurate-core/4.2.0-20250225.064233-204/configurate-core-4.2.0-20250225.064233-204.jar
data/minecraft/libraries/org/spongepowered/configurate-yaml/4.2.0-20250225.064233-199/configurate-yaml-4.2.0-20250225.064233-199.jar
data/minecraft/libraries/org/xerial/sqlite-jdbc/3.47.0.0/sqlite-jdbc-3.47.0.0.jar
data/minecraft/libraries/org/yaml/snakeyaml/2.2/snakeyaml-2.2.jar
data/minecraft/logs/2025-05-03-1.log.gz
data/minecraft/logs/2025-05-03-2.log.gz
data/minecraft/logs/2025-05-03-3.log.gz
data/minecraft/logs/latest.log
data/minecraft/plugins/packetevents-spigot-2.7.0.jar
data/minecraft/plugins/Vulcan-2.9.5_.jar
data/minecraft/plugins/.paper-remapped/index.json
data/minecraft/plugins/.paper-remapped/Vulcan-2.9.5_.jar
data/minecraft/plugins/.paper-remapped/extra-plugins/index.json
data/minecraft/plugins/.paper-remapped/libraries/index.json
data/minecraft/plugins/.paper-remapped/mappings/reversed/297DD0ABDAF0D3CAF5EC26D87557BA14A45858405C25551918C8C4314BFA742D.tiny
data/minecraft/plugins/.paper-remapped/remap-classpath/297DD0ABDAF0D3CAF5EC26D87557BA14A45858405C25551918C8C4314BFA742D.jar
data/minecraft/plugins/.paper-remapped/unknown-origin/index.json
data/minecraft/plugins/Vulcan/config.yml
data/minecraft/plugins/Vulcan/punishments.txt
data/minecraft/plugins/Vulcan/stats.yml
data/minecraft/plugins/Vulcan/violations.txt
data/minecraft/plugins/bStats/config.yml
data/minecraft/plugins/spark/config.json
data/minecraft/plugins/spark/tmp-client/about.txt
data/minecraft/versions/1.21.4/paper-1.21.4.jar
data/minecraft/world/level.dat
data/minecraft/world/level.dat_old
data/minecraft/world/paper-world.yml
data/minecraft/world/session.lock
data/minecraft/world/uid.dat
data/minecraft/world/advancements/94e6b392-250d-3076-b34c-9f6bb8d4c45e.json
data/minecraft/world/data/raids.dat
data/minecraft/world/data/random_sequences.dat
data/minecraft/world/data/scoreboard.dat
data/minecraft/world/datapacks/bukkit/pack.mcmeta
data/minecraft/world/entities/r.-1.-1.mca
data/minecraft/world/entities/r.-1.0.mca
data/minecraft/world/entities/r.-2.-1.mca
data/minecraft/world/entities/r.-2.0.mca
data/minecraft/world/entities/r.0.-1.mca
data/minecraft/world/entities/r.0.0.mca
data/minecraft/world/playerdata/94e6b392-250d-3076-b34c-9f6bb8d4c45e.dat
data/minecraft/world/playerdata/94e6b392-250d-3076-b34c-9f6bb8d4c45e.dat_old
data/minecraft/world/poi/r.-1.-1.mca
data/minecraft/world/poi/r.-1.0.mca
data/minecraft/world/poi/r.-2.-1.mca
data/minecraft/world/poi/r.-2.0.mca
data/minecraft/world/region/r.-1.-1.mca
data/minecraft/world/region/r.-1.-2.mca
data/minecraft/world/region/r.-1.0.mca
data/minecraft/world/region/r.-2.-1.mca
data/minecraft/world/region/r.-2.-2.mca
data/minecraft/world/region/r.-2.0.mca
data/minecraft/world/region/r.0.-1.mca
data/minecraft/world/region/r.0.-2.mca
data/minecraft/world/region/r.0.0.mca
data/minecraft/world/stats/94e6b392-250d-3076-b34c-9f6bb8d4c45e.json
data/minecraft/world_nether/level.dat
data/minecraft/world_nether/level.dat_old
data/minecraft/world_nether/paper-world.yml
data/minecraft/world_nether/session.lock
data/minecraft/world_nether/uid.dat
data/minecraft/world_nether/DIM-1/data/raids.dat
data/minecraft/world_nether/DIM-1/entities/r.-1.0.mca
data/minecraft/world_nether/DIM-1/entities/r.0.-1.mca
data/minecraft/world_nether/DIM-1/region/r.-1.-1.mca
data/minecraft/world_nether/DIM-1/region/r.-1.0.mca
data/minecraft/world_nether/DIM-1/region/r.0.-1.mca
data/minecraft/world_nether/DIM-1/region/r.0.0.mca
data/minecraft/world_the_end/level.dat
data/minecraft/world_the_end/level.dat_old
data/minecraft/world_the_end/paper-world.yml
data/minecraft/world_the_end/session.lock
data/minecraft/world_the_end/uid.dat
data/minecraft/world_the_end/DIM1/data/raids_end.dat
data/minecraft/world_the_end/DIM1/entities/r.-1.-1.mca
data/minecraft/world_the_end/DIM1/entities/r.-1.0.mca
data/minecraft/world_the_end/DIM1/entities/r.0.-1.mca
data/minecraft/world_the_end/DIM1/entities/r.0.0.mca
data/minecraft/world_the_end/DIM1/region/r.-1.-1.mca
data/minecraft/world_the_end/DIM1/region/r.-1.0.mca
data/minecraft/world_the_end/DIM1/region/r.0.-1.mca
data/minecraft/world_the_end/DIM1/region/r.0.0.mca
/give kacssajtosi12 minecraft:gray_wool 1000